.bg-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
form {
  backdrop-filter: blur(50px);
  width: 40%;
}
@media (max-width:767px){
    form {
      
        width: 80%;
      }
}



.submit{
  max-width: 320px;
  height: 40px;
  border: 0;
  background: #115DFC;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
}